# Ignore Python cache files
_pycache_/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/

# Ignore distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Ignore IDE/project settings
.vscode/
.idea/
*.swp
*.swo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db