fastapi==0.116.1
uvicorn==0.35.0
pandas==2.3.2
numpy==1.26.4
pydantic==2.11.7
pydantic-core==2.33.2
starlette==0.47.3
anyio==4.10.0
typing-inspection==0.4.1
typing-extensions==4.15.0
python-dateutil==2.9.0.post0
six==1.17.0
pytz==2025.2
tzdata==2025.2
click==8.2.1
h11==0.16.0
SQLAlchemy==2.0.36
pymysql==1.1.1
psycopg2-binary==2.9.9
gunicorn==23.0.0
python-multipart